body {
	background-color: rgba(169, 148, 148, 0.11); 
	width: 100%;
}

div {
	display: flex; 
	flex-wrap: wrap;
}	

h1 {
	color: rgba(218, 21, 21, 0.83); 
	font-size: 40px;
}

nav {
	display: flex;
}

nav a {
	margin: 0 10px; 
	font-size: 20px;
}

h2 {
	color: rgb(9, 65, 194); 
	font-size: 30px;
}

.frog img {
	width: 250px; 
	height: 250px; 
	object-fit: cover;
}

.frog figcaption {
	text-align: center;
}

h3 {
	color: rgba(255, 82, 0, 0.98); 
	font-size: 20px;
}

textarea {
	resize: none;
}
